<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>21CD8C95-7FD5-4636-9A1E-8737AE4EA48A</string>
			<string>2167AA71-D282-4F00-AE4E-158B7B78969D</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>2167AA71-D282-4F00-AE4E-158B7B78969D</key>
			<dict>
				<key>items</key>
				<array>
					<string>7A072969-3FCB-407E-ADC6-C19A4E5701E3</string>
					<string>1539794D-1C60-4DB5-91A8-EA35AC041029</string>
					<string>A9EC57EC-76C0-4324-B50A-76FABE30CA2E</string>
				</array>
				<key>name</key>
				<string>Constructs</string>
			</dict>
			<key>21CD8C95-7FD5-4636-9A1E-8737AE4EA48A</key>
			<dict>
				<key>items</key>
				<array>
					<string>391CE8FF-D903-4930-8B2C-1FD7D81EF623</string>
					<string>4C07C9CB-4306-417B-B152-653E93C987B5</string>
					<string>9AE3A1CC-9268-4A10-948A-642EC29D0D08</string>
				</array>
				<key>name</key>
				<string>Control</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Dart</string>
	<key>ordering</key>
	<array>
		<string>958518BC-799F-477A-99F9-5B28EBF230F6</string>
		<string>391CE8FF-D903-4930-8B2C-1FD7D81EF623</string>
		<string>4C07C9CB-4306-417B-B152-653E93C987B5</string>
		<string>9AE3A1CC-9268-4A10-948A-642EC29D0D08</string>
		<string>1539794D-1C60-4DB5-91A8-EA35AC041029</string>
		<string>7A072969-3FCB-407E-ADC6-C19A4E5701E3</string>
		<string>A9EC57EC-76C0-4324-B50A-76FABE30CA2E</string>
		<string>A5D36344-0A78-4FAC-B8FD-7BCE022E74A7</string>
		<string>A6CB02E3-15E3-4CDB-B63D-FCC95A26370C</string>
	</array>
	<key>uuid</key>
	<string>BB2AD6E4-D76D-41C6-B9A2-62DD2461F7F0</string>
</dict>
</plist>
